.playbox
{
	
	background-color: lightgreen;
	height: 300px;
	width: 400px;
	padding: 20px 50px;
	border: solid blue;
}

.centred
{
	margin: 0 auto;
	display: block;
}

.Masterdiv
{
	color: white;
	background-color: black;
	width: 1044px;
	
	padding-top: 150px;
	
}

.fallright
{
	float: right;
}

.fallleft
{
	float: left;
}

.slightmargin
{
	margin-left: 100px;
}

.clearfloat
{
	clear:both;
}


.list
{
	color: white;
}
.list li
{
	list-style-type: none;
	display: inline;
	margin-left: 5px;
}

.list li:hover
 {
  color: yellow;
 }

 /*body
 {
 	background-image: url(https://pbs.twimg.com/media/DSyKPl4X0AAhE9t.jpg);
 	background-position: center;
 	background-repeat: repeat;
 	background-size: 230px;
 	
 	
 }

 
