body{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 300%;
}

#code{
    border-color: grey;
    font-family: 'Courier New', Courier, monospace;
    background-color:rgba(255, 255, 255, 0.904);
}

#h2{
    margin-top: 20px;
}