//
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: gainsboro;
    font-weight: 120;
}

table {
    width: 300px;
    margin: 50px auto;
    background: rgb(147, 150, 18);
    border: none;
    border-radius: 10px;
    padding: 0px 20px 20px;
}

.heading {
    color: grey;
    font-size: 120%;
    text-align: center;
}

#input, #answer {
    width: 280px;
    height: 60px;
    font-size: 200%;
    text-align: right;
    border: none;
}
#input {
    border-radius: 5px 5px 0px 0px;
    box-shadow: 2px 2px 2px black;
    color: #1e1e1e;
}

#answer {
    border-radius: 0px 0px 5px 5px;
    box-shadow: 2px 2px 2px black;
}

input[type = button] {
    box-shadow: 2px 2px 2px black;
    height: 50px;
    width: 60px;
    color: green;
    font-size: 130%;
    background: white;
    margin: 3px;
    border:5px solid black;
}

input[type = button]:hover {
    background: #fffca4;
    cursor: pointer;
}



